.container {
  pointer-events: none;
}

.container :global(:is(rect, ellipse, polygon, path)) {
  fill: none;
  stroke: oklch(74% 0.238 322.16);
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;
}